body {
    font-family: Tahoma;
    letter-spacing: 1px;
}

#wrapper {
    width: 65%;
    padding: 0 0 40px;
    margin: 20px auto;
    border: 1px solid lightgrey;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;
}

#page-banner {
    background: #ddd ;
    padding: 10px;
}

#page-banner h1, #page-banner p{
    text-align: center;
    font-weight: normal;
    margin: 10px 0;
}

#search{
    width: 350px;
    margin: 20px auto 10px auto;
}

#search input[type="text"] {
    display: block;
    width: 350px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#list {
    margin: 30px;  
}

#list h2 {
    font-weight: normal;
}

#list ul {
    list-style-type: none;
    padding: 0;   
}

#list li{
    padding: 20px;
    margin: 20px 10px;
    border-left: 5px solid #ddd;
}

#list li:hover{
    border-color: #000; 
}

.delete {
    color: white; 
    text-decoration: none; 
    background-color: #000;
    padding: 6px 20px;
    border: 1px solid #000;
    border-radius: 4px;
    float: right;
}


.delete:hover {
    background-color: white;
    color: #000; 
}

#add-bookmark {
    width: 400px;
    margin: 0px auto;
} 

#add-bookmark input[type="text"] {
    width: 70%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    float: left;
}

#add-bookmark button{ 
    font-size: 16px;
    color: white;
    background: #000;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 0 4px 4px 0; 
}